.movies-thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 5px;
}

.movie {
  width: 20%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.movie:hover {
  transform: translateY(-10px);
}

.cover img {
  width: 100%;
  height: auto;
}

.detail {
  padding: 10px;
  background-color: #f0f0f0;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-value {
  font-size: 14px;
  margin-right: 5px;
}
