<app-nav-admin></app-nav-admin>
<br />
<div class="movie-management">
  <h2>QUẢN LÍ PHIM</h2>
  <div class="notice">Đây là trang quản lý phim của Bá Hiếu</div>
  <div class="movie-list">
    <div class="movie-item">
      <span>Phim số 1</span>
      <button class="btn-edit">Sửa</button>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Phim số 2</span>
      <button class="btn-edit">Sửa</button>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Phim số 3</span>
      <button class="btn-edit">Sửa</button>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Phim số 4</span>
      <button class="btn-edit">Sửa</button>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Phim số 5</span>
      <button class="btn-edit">Sửa</button>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Phim số 6</span>
      <button class="btn-edit">Sửa</button>
      <button>Delete</button>
    </div>
  </div>
</div>
