<app-nav-admin></app-nav-admin>
<br />
<div class="movie-management">
  <h2>QUẢN LÝ NGƯỜI DÙNG</h2>
  <div class="notice">Đây là trang quản lý người dùng của Bá Hiếu</div>
  <div class="movie-list">
    <div class="movie-item">
      <span>Người dùng 1</span>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Người dùng 2</span>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Người dùng 3</span>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Người dùng 4</span>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Người dùng 5</span>
      <button>Delete</button>
    </div>
    <div class="movie-item">
      <span>Người dùng 6</span>
      <button>Delete</button>
    </div>
  </div>
</div>
